*{
    font-family: 'Public Pixel', sans-serif;
    box-sizing: border-box;
    background-color:#2b3137;
    color: #FF9999;
    margin: 0;
    padding: 0;                                            
}
.con-para{
    margin: 50px 50px 0px 50px;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}
.para{
    font-size: 1.5em;
    margin: 50px;
    padding: 20px;
    border-radius: 10px;
    height: fit-content;
}
.pic-frame{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}
.pic{
    margin: 25px;
}

@keyframes appear { /*  สร้างตัวแปร  keyframe*/
    from{
        opacity: 0;
       scale:0.4;
    }
    to{
        opacity: 1;
        scale:1;
    }
}

img,.box{
    animation:appear 3s linear;
    animation-timeline:view( );    /*View คือ elemnt ที่เห็น*/
    animation-range:entry 0;
   /* start at viewport */ 
}

.box{
    padding: 0;
    border: 1px  solid white;
    margin: 100px;
    display: grid;
    grid-template-rows:  60px 1fr;
    grid-template-columns: 1fr 0px 1fr;
    width: fit-content;
    height: fit-content;
}
.top-box{
    grid-column:1/4 ;
    background-color: green;
    height: 60px;
}
.bottom-box{
    background-color: maroon;
    width: 350px;
    height: 400px;
    border: 1px  solid white;
}

.white1{
    border: 1px  solid white;
    grid-column: 2/3;
    width: 80px;
    height: 400px;
    background-color:white;
    position: relative;
    left: 50%;
}
#b1{
    grid-row: 2/3;
    grid-column: 1/2;
}
#b2{
    grid-column: 3/4;
}